@model LiveCards.Web.Areas.Admin.Models.EditCompanyVM

@{
    ViewBag.Title = Resources.General.EditCompany;
}
@section Title{
    <i class=" icon-stars position-left"></i> <span class="text-semibold">@ViewBag.Title</span>

}
<script src="~/Content/assets/js/plugins/pickers/color/spectrum.js"></script>
<div class="form-horizontal">
    <div class="panel">
        <div class="panel-heading">
            <h5 class="panel-title"> @Resources.General.EditCompany<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li> 
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <hr />
        @using (Html.BeginForm("Edit", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    <div class="panel-body">
        <div class="col-md-5">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ExistingLogoPath)

        <div class="form-group">
            <label class="control-label col-md-2">
                @Resources.General.CompanyName
            </label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.General.Companylogo</label>
            <div class="col-md-10">
                <div class="custom-file">
                    <input type="file" name="LogoUrl" class="file-input" data-main-class="input-group-xs" />
                    <label class="custom-file-label">@Resources.General.ChangeLogo</label>
                </div>
                @Html.ValidationMessageFor(model => model.LogoUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.General.ExistingCompanyLogo</label>
            <div class="col-md-10">
                <img src="~/Content/images/Company/@Model.ExistingLogoPath" width="80" height="80" class="img-circle" />
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.General.PostalCode</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })

              
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.General.SIMlength</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SIMLength, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SIMLength, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.General.Color</label>
            <div class="col-md-10"  >
                @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input name="Color" type="text" class="form-control colorpicker-show-input" data-preferred-format="hex" value="@Model.Color">
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                 
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">@Resources.General.Save</button>
                   
                <button href="index"  class="btn btn-default" >@Resources.General.Cancel</button>
            </div>
        </div>
    </div>
        </div>
        }
    </div>
</div>
  
<script>
    var demoPalette = [
        ["#ED1C24","#72206A","#F36621","#BB0203","#3dd9cb","#0073b6" ,"#555555" ],
        ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
        ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
        ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
        ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
        ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
        ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
        ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
        ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
    ]


    $(".colorpicker-show-input").spectrum({
        showInput: true,
        showPalette: true,
        showPaletteOnly: true,
        palette: demoPalette
    });
</script>