
@model IEnumerable<LiveCards.Models.Setting>

@{
    ViewBag.Title = "بيانات الشركة";
    var db = new LiveCards.Models.Entities();

}
@section Title{
    <span class="text-semibold">@ViewBag.Title</span>
}

<div class="form-horizontal">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title"><span> <i class="icon-cog"></i></span> @Resources.General.GeneralInformation   </h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>

        </div>

        <div class="panel-body">

            @using (Html.BeginForm("EditSetting", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))

            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var comsiteName = Model.Where(n => n.KKey == "siteName").FirstOrDefault();
                            }
                            <label class="control-label col-md-1">@Resources.General.SiteName </label>
                            <div class=" col-md-7">
                                <input name="siteNameVal" value="@comsiteName.KVal" class="form-control" />
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var comtelephone = Model.Where(n => n.KKey == "telephone").FirstOrDefault();
                            }
                            <label class="control-label col-md-1">@Resources.General.PhoneNumber </label>
                            <div class=" col-md-7">
                                <input name="telephoneVal" value="@comtelephone.KVal" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var commobile = Model.Where(n => n.KKey == "mobile").FirstOrDefault();
                            }
                            <label class="control-label col-md-1">@Resources.General.MobilePhone</label>
                            <div class=" col-md-7">
                                <input name="mobileVal" value="@commobile.KVal" class="form-control" />
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var comaddress = Model.Where(n => n.KKey == "address").FirstOrDefault();
                            }
                            <label class="control-label col-md-1">@Resources.General.Address </label>
                            <div class=" col-md-7">
                                <input name="addressVal" value="@comaddress.KVal" class="form-control" />
                            </div>

                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var comlogo = Model.Where(n => n.KKey == "logo").FirstOrDefault();
                            }
                            <label class="control-label col-md-1">@Resources.General.Companylogo</label>
                            <div class=" col-md-3">

                                <input type="file" name="logoImage" id="logoImage" value="" />
                            </div>


                            <div class="col-lg-4">
                                <label>@Resources.General.CurrentLogo</label>

                                @if (comlogo.KVal != null)
                                {

                                    <img src="@comlogo.KVal" width="120" height="80" class="img-fluid" />

                                }

                            </div>
                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class=" col-md-6">
                            <button type="submit" class="btn btn-primary btn-lg" style="width:auto; float:left">@Resources.General.Save</button>
                        </div>
                        <div class=" col-md-6">

                            <a href="/Admin/Home/" class="btn btn-default btn-lg" @*style="width:auto; float:left"*@>@Resources.General.Cancel </a>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>


@section Scripts {
    <script>
        CurrentPage('Suppliers');
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
