@{
    string lang = System.Globalization.CultureInfo.CurrentCulture.Name;
    var dir = lang == "en" ? "ltr" : "rtl";
}
<!DOCTYPE html>
<html lang="en" dir="@dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Live Cards</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/admin/images/brand/favicon.ico" />

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/assets/admin/css/style.css" rel="stylesheet" />
    <link href="/assets/admin/css/dark-style.css" rel="stylesheet" />
    @*<link href="/assets/admin/css/transparent-style.css" rel="stylesheet">*@
    @*<link href="/assets/admin/css/skin-modes.css" rel="stylesheet" />*@

    <!--- FONT-ICONS CSS -->
    <link href="/assets/admin/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/assets/admin/colors/color1.css" />

    <style> 
        *, html, body {
            font-family: 'Tajawal', sans-serif;
        }
    </style>

</head>

<body class=" app light-mode horizontal-hover horizontal @dir " dir="@dir">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="/assets/admin/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->
    <!-- PAGE -->
    <div class="page">
        <div class="page-main">
            <!-- app-Header -->
            <div class="header sticky hor-header stickyClass">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="/">
                            <img src="/assets/images/logo/logo-8.png" class="header-brand-img desktop-logo" alt="logo" style="width:130px" >
                         
                            <img src="/assets/images/logo/logo-8.png" class="header-brand-img light-logo1"    alt="logo" style="width:130px" > 
                        </a>
                        <!-- LOGO -->
                        @*   <div class="main-header-center ms-3 d-none d-lg-block">
                            <input type="text" class="form-control" id="typehead" placeholder="Search for results." autocomplete="off">
                            <button class="btn px-0 pt-2"><i class="fe fe-search" aria-hidden="true"></i></button>
                            </div>*@
                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            @*  <div class="dropdown d-none">
                                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                <i class="fe fe-search"></i>
                                </a>
                                <div class="dropdown-menu header-search dropdown-menu-start">
                                <div class="input-group w-100 p-2">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-text btn btn-primary">
                                <i class="fe fe-search" aria-hidden="true"></i>
                                </div>
                                </div>
                                </div>
                                </div>*@
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                    aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">
                                        <div class="dropdown d-lg-none d-flex">
                                            @* <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                                <i class="fe fe-search"></i>
                                                </a>*@
                                            <div class="dropdown-menu header-search dropdown-menu-start">
                                                <div class="input-group w-100 p-2">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <div class="input-group-text btn btn-primary">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="dropdown  d-flex  country">
                                            <a class="nav-link icon text-center dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="fe fe-globe"></i><span class="fs-16 ms-2 d-none d-xl-block">

                                                    @Localize["Language"]

                                                </span> <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/Home/SetLanguage?culture=ar-EG&redirectUrl=@Context.Request.Path">English</a></li>
                                                <li><a href="/Home/SetLanguage?culture=en&redirectUrl=@Context.Request.Path">العربية</a></li>
                                                <li><a href="/Home/SetLanguage?culture=he-IL&redirectUrl=@Context.Request.Path">עברית</a></li>
                                            </ul>
                                        </div>

                                        <!-- COUNTRY -->
                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>
                                        <!-- Theme-Layout -->

                                        <div class="dropdown d-flex">
                                            <a class="nav-link icon full-screen-link nav-link-bg">
                                                <i class="fe fe-minimize fullscreen-button"></i>
                                            </a>
                                        </div>
                                        <!-- FULL-SCREEN -->
                                        <div class="dropdown  d-flex notifications">
                                            <a class="nav-link icon" data-bs-toggle="dropdown">
                                                <i class="fe fe-bell"></i><span class=" pulse"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading border-bottom">
                                                    <div class="d-flex">
                                                        <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                                                            Notifications
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="notifications-menu">
                                                    <a class="dropdown-item d-flex" href="notify-list.html">
                                                        <div class="me-3 notifyimg  bg-primary brround box-shadow-primary">
                                                            <i class="fe fe-mail"></i>
                                                        </div>
                                                        <div class="mt-1 wd-80p">
                                                            <h5 class="notification-label mb-1">
                                                                New Application received
                                                            </h5>
                                                            <span class="notification-subtext">3 days ago</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="notify-list.html">
                                                        <div class="me-3 notifyimg  bg-secondary brround box-shadow-secondary">
                                                            <i class="fe fe-check-circle"></i>
                                                        </div>
                                                        <div class="mt-1 wd-80p">
                                                            <h5 class="notification-label mb-1">
                                                                Project has been
                                                                approved
                                                            </h5>
                                                            <span class="notification-subtext">2 hours ago</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="notify-list.html">
                                                        <div class="me-3 notifyimg  bg-success brround box-shadow-success">
                                                            <i class="fe fe-shopping-cart"></i>
                                                        </div>
                                                        <div class="mt-1 wd-80p">
                                                            <h5 class="notification-label mb-1">
                                                                Your Product Delivered
                                                            </h5>
                                                            <span class="notification-subtext">30 min ago</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="notify-list.html">
                                                        <div class="me-3 notifyimg bg-pink brround box-shadow-pink">
                                                            <i class="fe fe-user-plus"></i>
                                                        </div>
                                                        <div class="mt-1 wd-80p">
                                                            <h5 class="notification-label mb-1">Friend Requests</h5>
                                                            <span class="notification-subtext">1 day ago</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a href="notify-list.html"
                                                   class="dropdown-item text-center p-3 text-muted">
                                                    View all
                                                    Notification
                                                </a>
                                            </div>
                                        </div>
                                        <!-- NOTIFICATIONS -->
                                        <div class="dropdown  d-flex message">
                                            <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                                <i class="fe fe-message-square"></i><span class="pulse-danger"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading border-bottom">
                                                    <div class="d-flex">
                                                        <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                                                            You have 5
                                                            Messages
                                                        </h6>
                                                        <div class="ms-auto">
                                                            <a href="javascript:void(0)" class="text-muted p-0 fs-12">make all unread</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="message-menu message-menu-scroll">
                                                    <a class="dropdown-item d-flex" href="chat.html">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                              data-bs-image-src="/assets/admin/images/users/1.jpg"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">Peter Theil</h5>
                                                                <small class="text-muted ms-auto text-end">
                                                                    6:45 am
                                                                </small>
                                                            </div>
                                                            <span>Commented on file Guest list</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="chat.html">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                              data-bs-image-src="/assets/admin/images/users/15.jpg"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">Abagael Luth</h5>
                                                                <small class="text-muted ms-auto text-end">
                                                                    10:35 am
                                                                </small>
                                                            </div>
                                                            <span>New Meetup Started</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="chat.html">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                              data-bs-image-src="/assets/admin/images/users/12.jpg"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">Brizid Dawson</h5>
                                                                <small class="text-muted ms-auto text-end">
                                                                    2:17 pm
                                                                </small>
                                                            </div>
                                                            <span>Brizid is in the Warehouse.</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="chat.html">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                              data-bs-image-src="/assets/admin/images/users/4.jpg"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">Shannon Shaw</h5>
                                                                <small class="text-muted ms-auto text-end">
                                                                    7:55 pm
                                                                </small>
                                                            </div>
                                                            <span>New Product Realease</span>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item d-flex" href="chat.html">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                              data-bs-image-src="/assets/admin/images/users/3.jpg"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">Cherry Blossom</h5>
                                                                <small class="text-muted ms-auto text-end">
                                                                    7:55 pm
                                                                </small>
                                                            </div>
                                                            <span>You have appointment on</span>
                                                        </div>
                                                    </a>

                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a href="javascript:void(0)" class="dropdown-item text-center p-3 text-muted">
                                                    See all
                                                    Messages
                                                </a>
                                            </div>
                                        </div>

                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                                                <img src="/assets/admin/images/users/21.jpg" alt="profile-user"
                                                     class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">Percy Kewshun</h5>
                                                        <small class="text-muted">Senior Admin</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="profile.html">
                                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                                </a>
                                                <a class="dropdown-item" href="email-inbox.html">
                                                    <i class="dropdown-icon fe fe-mail"></i> Inbox
                                                    <span class="badge bg-danger rounded-pill float-end">5</span>
                                                </a>
                                                <a class="dropdown-item" href="lockscreen.html">
                                                    <i class="dropdown-icon fe fe-lock"></i> Lockscreen
                                                </a>
                                                <a class="dropdown-item" href="login.html">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->
            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <a class="header-brand1" href="/admin/">
                            <img src="/assets/admin/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/assets/admin/images/brand/logo-1.png" class="header-brand-img toggle-logo" alt="logo">
                            <img src="/assets/admin/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
                            <img src="/assets/admin/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO -->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" /></svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/Admin/home/index">
                                    <i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">
                                        @Localize["Dashboard"]
                                    </span>
                                </a>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/Admin/home/index">
                                    <i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">
                                        @Localize["Requests"]
                                    </span>
                                </a>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                    <i class="side-menu__icon fe fe-users"></i>
                                    <span class="side-menu__label">
                                        @Localize["Agents"]
                                    </span>
                                    <i class="angle fe fe-chevron-right"></i>

                                </a>
                                <ul class="slide-menu">
                                    <li><a href="/Admin/Agents/Index" class="slide-item">@Localize["Agents"]</a></li>
                                    <li><a href="/Admin/Agents/Create" class="slide-item"> @Localize["AddAgent"]</a></li>
                                </ul>
                            </li>

                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                    <i class="side-menu__icon fe fe-package"></i>
                                    <span class="side-menu__label">
                                        @Localize["Cards"]
                                    </span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="slide-menu">
                                    <li><a href="/Admin/Cards/Index" class="slide-item">@Localize["AllCards"]</a></li>
                                    <li><a href="/Admin/Cards/Create" class="slide-item"> @Localize["AddCard"]</a></li>
                                    <li><a href="/Admin/Categories/index" class="slide-item">    @Localize["Categories"] </a></li>
                                    <li><a href="/Admin/Brands/index" class="slide-item">    @Localize["Brands"] </a></li>
                                </ul>
                            </li>

                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                    <i class="side-menu__icon fe fe-dollar-sign"></i>
                                    <span class="side-menu__label">
                                        @Localize["Payments"]
                                    </span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="slide-menu">
                                    <li><a href="/Admin/Payments/Index" class="slide-item">@Localize["AllPayments"] ****</a></li>
                                    <li><a href="/Admin/Payments/Create" class="slide-item"> @Localize["AddPayment"]</a></li>
                                </ul>
                            </li>

                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/Admin/Categories/index">
                                    <i class="side-menu__icon fe fe-tag"></i><span class="side-menu__label">
                                        @Localize["Loans"]
                                    </span>
                                </a>
                            </li>


                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                    <i class="side-menu__icon fe fe-users"></i>
                                    <span class="side-menu__label">
                                        @Localize["Users"]
                                    </span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="slide-menu">
                                    <li><a href="/Admin/Products/Index" class="slide-item">@Localize["Users"]</a></li>
                                    <li><a href="/Admin/Products/Create" class="slide-item"> @Localize["AddUser"]</a></li>
                                    <li><a href="/Admin/Permissions/Index" class="slide-item"> @Localize["Permissions"]</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="/Admin/Settings">
                                    <i class="side-menu__icon fe fe-settings"></i><span class="side-menu__label">
                                        @Localize["Settings"]
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>

            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">@ViewData["Title"]</h1>
                            <div>
                                  @RenderSection("Actions",false)
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->
                        <!-- ROW OPEN-->
                        @RenderBody()
                        <!-- ROW CLOSE-->
                    </div>
                    <!-- CONTAINER CLOSE-->
                </div>
            </div>
            <!--app-content closed-->
        </div> 

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © <span id="year"></span> <a href="/">Live Cards</a>. Developed by <a href="https://developers.ps/" target="_blank"> Developers Plus Company </a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER CLOSED -->
    </div>

    <!-- BACK-TO-TOP -->
    @*<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>*@

    <!-- JQUERY JS -->
    <script src="/assets/admin/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/admin/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SIDE-MENU JS -->
    <script src="/assets/admin/plugins/sidemenu/sidemenu.js"></script>

    <!-- SIDEBAR JS -->
    <script src="/assets/admin/plugins/sidebar/sidebar.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    @*  <script src="/assets/admin/plugins/p-scroll/perfect-scrollbar.js"></script>
        <script src="/assets/admin/plugins/p-scroll/pscroll.js"></script>
        <script src="/assets/admin/plugins/p-scroll/pscroll-1.js"></script>*@

    <!-- Color Theme js -->
    <script src="/assets/admin/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="/assets/admin/js/sticky.js"></script>

    <!-- CUSTOM JS -->
    <script src="/assets/admin/js/custom.js"></script>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
